<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1706},{391,327}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{391,327}}</string>
                <key>sourceSize</key>
                <string>{413,327}</string>
            </dict>
            <key>hero2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1313},{391,327}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{391,327}}</string>
                <key>sourceSize</key>
                <string>{413,327}</string>
            </dict>
            <key>hero3.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,984},{391,327}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{391,327}}</string>
                <key>sourceSize</key>
                <string>{413,327}</string>
            </dict>
            <key>hero4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{391,327}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{391,327}}</string>
                <key>sourceSize</key>
                <string>{413,327}</string>
            </dict>
            <key>mountain1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{934,388}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{934,388}}</string>
                <key>sourceSize</key>
                <string>{934,404}</string>
            </dict>
            <key>mountain2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,781},{742,201}}</string>
                <key>offset</key>
                <string>{24,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,30},{742,201}}</string>
                <key>sourceSize</key>
                <string>{790,231}</string>
            </dict>
            <key>tree1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{958,387}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{958,387}}</string>
                <key>sourceSize</key>
                <string>{986,387}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SpriteSheet.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f186491d3aea289c50ba9b77716547f:abc353d00773c0ca19d20b55fb028270:755b0266068b8a3b8dd250a2d186c02b$</string>
            <key>textureFileName</key>
            <string>SpriteSheet.png</string>
        </dict>
    </dict>
</plist>
